.checkout-product {
   display: flex;
   margin: 20px 0;
}

.checkout-product__info {
   padding-left: 20px;
}

.checkout-product__info > button {
   background: #f0c14b;
   border: 1px solid;
   margin-top: 10px;
   background-color: #a88734 #9c7e31 #846a29;
   color: #111;
   transition: all 0.3s ease;
}
.checkout-product__info > button:hover {
   color: rgb(216, 216, 216);
   background-color: #bd4490;
   transform: scale(1.1);
   box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
      rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
      rgba(240, 46, 170, 0.05) 0px 25px;
}

.checkout-product__image {
   object-fit: contain;
   width: 180px;
   height: 180px;
}

.checkout-product__rating {
   display: flex;
}

.checkout-product__title {
   font-size: 17px;
   font-weight: 800;
}
